{
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "none",
    "useTabs": false,
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "semi": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.d.ts",
            "options": {
                "semi": true
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "package.json",
            "options": {
                "parser": "json",
                "tabWidth": 2
            }
        }
    ]
}
