{
    "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
    "rules": {
        "prettier/prettier": true,
        "indentation": 4,
        "color-no-invalid-hex": true,
        "color-hex-case": "lower",
        "font-family-no-duplicate-names": true,
        "string-no-newline": true,
        "property-no-unknown": true,
        "block-no-empty": true,
        "no-descending-specificity": null,
        "unit-whitelist": ["rem", "em", "px", "%", "deg", "s", "ms", "fr", "vh", "vw"],
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["global", "local"]
            }
        ]
    }
}
