.lyrics-box {
    --lyric-color: rgb(160, 170, 180);
    --lyric-on-color: rgb(204, 219, 249);

    font-size: 18px;
    color: var(--lyric-color);
    text-align: left;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    &.nolyric {
        display: flex;
        align-items: center;
        .scrollbox {
            display: none;
        }
    }
    .scrollbox {
        line-height: inherit;
        transition: transform 0.5s;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    li {
        list-style: none;
        line-height: inherit;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.5s;
    }
    .lrc-on {
        color: var(--lyric-on-color);
        transform: scale3d(1, 1.1, 1);
    }
}
