.app-root {
    overflow: hidden;
}
.layout-basic {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - var(--layout-player-height));
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.layout-aside {
    flex: 0 0 var(--layout-sider-width);
    background-color: var(--aside-background);
    position: relative;
    z-index: 998;
}
.layout-header {
    &:extend(.pos-relative all);

    background-color: var(--header-background);
    z-index: 2;
}
.layout-content {
    &:extend(.pos-relative all);

    flex: 1 1 auto;
    background-color: var(--content-background);
    border-color: var(--border-color-base);
    border-style: solid;
    border-width: 0 0 0 1px;
    overflow: auto;
    padding: 14px 14px 30px;
    z-index: 2;
}
.layout-footer {
    &:extend(.pos-relative all);

    height: var(--layout-player-height);
    background-color: var(--footer-background);
    border-color: var(--border-color-base);
    border-style: solid;
    border-width: 1px 0 0 0;
    transition: background-color 150ms linear 0ms;
    z-index: 1002;
}
.blur-effect {
    &:extend(.pos-center all);

    background-image: var(--blur-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150% 150%;
}
