@import '~antd/lib/style/themes/default.less';
:root {
    --primary-color: @primary-color;
    --normal-color: @normal-color;
    --text-color: @text-color;
    --text-color-secondary: @text-color-secondary;
    --header-height: 64px;
    --box-padding-base: 0.24rem;
}
