:root {
    --white: 255,255,255;
    --black: 0,0,0;
    // fonts;
    --font-family-base: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-number: TrebuchetMS, Rotobo, Microsoft YaHei, sans-serif;

    //
    --font-size-base: 14px;
    --font-size-sm: 12px;
    --font-size-lg: 16px;
    --player-icon-size: 22px;
    --heading-title: 26px;
    --heading-title-secondary: 18px;
    --heading-title-md: 16px;
    --heading-title-sm: var(--font-size-base);
    --layout-sider-width: 210px;
    --layout-header-height: 64px;
    --layout-player-height: 72px;
    //
    --border-radius-base: 4px;

    // color
    --primary-color: #1890ff;
    --color-primary: var(--primary-color);
    --color-sky: #5352ed;
    --color-chill: #1e90ff;
    --color-coral: #ff7f50;
    --color-wangyi: rgb(120, 3, 3);
    --color-green: #2ed573;
    --color-green-light: #20bf6b;
    --color-green-darken: #009688;
    --color-orange: #ffa502;
    --color-tomato: #ff6348;
    --color-blue: #70a1ff;
    --color-pink: #ff6b81;
    --color-pink-light: #e056fd;
    --color-pink-darken: #a55eea;

    // lyric
    --lyric-color: rgb(160, 170, 180);
    --lyric-on-color: rgb(204, 219, 249);

    // Animation
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
    --ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
    --ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
    --ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    --ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
}
body {

    // player
    --player-bg: transparent;
    --player-control-color: var(--color-sky);
    --player-preload-bar-color: rgb(193, 193, 249);
    --progress-slider-bg: rgba(213, 214, 215, 0.7);
    --progress-slider-color: var(--color-sky);
    --progress-pin-color: var(--color-sky);
    --volume-bar-color: var(--color-sky);
    --progress-bar-color: var(--color-sky);
    --volume-bg-color: rgba(0, 0, 0, 0);

    // text
    --text-color-base: 0,0,0;
    --text-color: rgba(var(--text-color-base), 0.7);
    --text-color-secondary: rgba(var(--text-color-base), 0.45);
    --text-color-disabled: rgba(var(--text-color-base), 0.3);
    --text-color-light: fade(#f4f2f9, 80%);
    --text-color-light-secondary: fade(#f4f2f9, 70%);
    --link-color: var(--text-color);
    --link-color-hover: var(--color-primary);
    //
    --box-padding-sm: 12px;
    --box-padding-base: 16px;
    --box-padding-lg: 20px;
    
    // background
    --hove: 235, 235, 235;
    --background-item-hover: rgba(var(--hove), 0.75);
    --background-base: rgba(var(--white), 0.88);
    --footer-background: var(--background-base);
    --aside-background: var(--background-base);
    --header-background: var(--background-base);
    --content-background: var(--background-base);
    --lyric-effect-background: rgb(30, 30, 30);

    // checkbox
    --checkbox-shadow-green: rgba(19,191,17,1);
    --checkbox-shadow-light: rgb(233, 233, 233);
    --checkbox-shadow-ctrl: rgb(255,255,255);

    // border-color;
    --line-shadow-color: rgba(var(--black), 0);
    --border-color-base: #e8e8e8;
    --shine-color-1: rgb(242, 242, 242);
    --shine-color-2: rgb(230, 230, 230);
    &.lyricInVisible {
        --color-sky: rgb(200,200,200);
        --background-base: rgb(30,30,30);
        --border-color-base: rgb(58, 58, 58);
        --progress-slider-bg: rgba(255, 255, 255, .2);
        --player-preload-bar-color: rgba(255, 255, 255, .18);
    }
}
html[theme="dark"] body {
    --color-sky: rgb(200,200,200);
    --background-base: rgb(30,30,30);
    --background-item-hover: rgba(var(--hove), 0.1);
    --text-color-base: 255,255,255;
    --border-color-base: rgb(58, 58, 58);
    --shine-color-1: rgb(55, 55, 55);
    --shine-color-2: rgb(45, 45, 45);
    --progress-slider-bg: rgba(255, 255, 255, .2);
    --player-preload-bar-color: rgba(255, 255, 255, .18);
    --line-shadow-color: rgba(var(--black), 1);
    --checkbox-shadow-light: rgb(80, 80, 80);
    --checkbox-shadow-ctrl: rgb(220,220,220);
}

html[theme="auto"] {
    @media (prefers-color-scheme: dark) {
        body {
            --color-sky: rgb(200,200,200);
            --background-base: rgb(30,30,30);
            --background-item-hover: rgba(var(--hove), 0.1);
            --text-color-base: 255,255,255;
            --border-color-base: rgb(58, 58, 58);
            --shine-color-1: rgb(55, 55, 55);
            --shine-color-2: rgb(45, 45, 45);
            --progress-slider-bg: rgba(255, 255, 255, .2);
            --player-preload-bar-color: rgba(255, 255, 255, .18);
            --line-shadow-color: rgba(var(--black), 1);
            --checkbox-shadow-light: rgb(80, 80, 80);
            --checkbox-shadow-ctrl: rgb(220,220,220);
        }
    }
}
