.djprogram-wraper,
.artists-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 130px;
}
.djprogram-wraper {
    min-height: 96px;
    img {
        object-fit: cover;
    }
}
.artists-wraper {
    min-height: 64px;
}
.songs-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > div {
        flex: 1;
    }
}
