.flexbox {
    display: flex;
}
.login-page {
    height: 100vh;
    background-image: url('./bg/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .flexbox;
    .form-item {
        padding-bottom: 0.08rem;
    }
}

.page-title {
    font-size: 0.48rem;
    text-align: center;
    color: white;
    padding-bottom: 0.44rem;
    line-height: 1;
    margin: 0;
}
.middle-box {
    width: 8.8rem;
    background-image: linear-gradient(10deg, #50b9fc 0%, #7764fe 100%);
    padding: 0.06rem;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    &::before {
        content: 'Welcome';
        color: #fff;
        text-align: center;
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        bottom: auto;
        margin: auto;
        width: 1.6rem;
        height: 0.28rem;
        line-height: 0.28rem;
        font-size: 0.14rem;
        background: #7764fe;
        border-bottom-left-radius: 0.12rem;
        border-bottom-right-radius: 0.12rem;
        z-index: 1002;
    }
}
.illustration {
    flex: 58% 0 0;
    background: url('./bg/illustration.svg') center no-repeat;
    background-size: 78%;
    height: 99%;
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    display: block;
}

.form-wrapper {
    height: 5.2rem;
    background: white;
    box-shadow: 0 0 2px 8px rgba(0, 0, 0, 0.18);
    border-radius: 1px;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    .flexbox;
}
.login-form {
    flex: 1;
    height: 100%;
    padding-left: 0.38rem;
    padding-right: 0.38rem;
    flex-direction: column;
    justify-content: center;
    .flexbox;
}
@media screen and (max-width: @screen-md) {
    .login-page {
        display: block;
    }
    .page-title {
        font-size: 0.52rem;
        padding-top: 0.44rem;
    }
    .middle-box {
        width: 92%;
        margin: 0 auto;
    }
    .form-wrapper {
        height: auto;
        display: block;
        padding: 0.32rem 0.32rem 0.6rem;
    }
    .illustration {
        width: 100%;
        height: 3rem;
        border-width: 0;
        background-size: 60%;
    }
    .login-form {
        padding: 0 0.32rem;
        height: auto;
    }
}
