.scroll-outer {
    width: 100%;
    position: relative;
    display: block;
    min-height: 130px;
}
.scroll-inner {
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: -18px;
    scroll-snap-type: x mandatory;
    > * {
        flex: 0 0 auto;
        scroll-snap-align: center;
    }
    > *:not(:last-child) {
        margin-right: var(--box-padding-base);
    }
}
.scroll-inner::-webkit-scrollbar {
    width: 0;    
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
