.box {
    padding: 20px 20px 0;
    .title {
        margin: 0;
        font-size: var(--heading-title-secondary);
        font-weight: normal;
        margin-bottom: 20px;
    }
    .content {
        display: block;
    }
}
