.box {
    padding: 24px 30px;
    .title {
        margin: 0;
        font-size: var(--heading-title);
        font-weight: 500;
        padding: 0 0 12px;
    }
    .content {
        display: block;
    }
}
